* {
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column; /* 主轴方向为横向 */
    justify-content: center; /* 沿主轴居中对齐 */
    align-items: center; /* 沿交叉轴居中对齐 */
    padding: 5px 0 0;
}
.row {
    display: flex;
    justify-content: center; /*设置 Flex 容器中 Flex 项在主轴方向（水平方向）上的对齐方式的属性。*/
}

body{
    padding: 30px;
    font-family: Arial;
    background-color: #f1f1f1;
}

.navbar,.bar-links{
    overflow: hidden;
    background-color: snow;
    width: 100%;
}
.bar-links div{
    float: left;
    display: block;
    color: darkgray;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
.bar-links div:hover{
    background-color: #ddd;
    color: black;
}

.title{
    display: inline-block;
    float: left;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding: 0;
}
.bar-links .links{
    padding-top: 14px;
}

.bar-links{
    flex-basis: calc(25% - 10px);
    margin-right: calc(50% - 10px);
}

/* 清除列之后的浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

